body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.container.info {
  width: 800px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
}

img {
  height: auto;
  width: 300px;
}

h2 {
  font-size: 1.4em;
}
